h1 {
      font-weight: 700;
      display: inline-block;
      color: rgb(1, 56, 39);
    }
  
    h3 {
      font-weight: 600;
      color: rgb(1, 56, 39);
    }
  
  
    a {
      text-decoration: none;
      color: rgb(2, 72, 51);
    }
  
    a:hover {
      border-bottom: 2px solid rgb(1, 56, 39);
    }
  
    .foot-1 {
      background: rgb(212, 247, 236);
    }
  
    p {
      color: rgb(2, 72, 51);
    }
  
    .navbar {
      position: sticky;
      top: 0;
    }
  
    .nest {
      font-size: 30px;
      font-weight: 500;
      display: inline-block;
    }
  
    .foot-2 {
      background-color: rgb(1, 41, 29);
      text-align: center;
    }
  
    .s1 {
      padding: 19px;
      font-size: 33px;
    }
  
    @media only screen and (max-width:470px) {
      #logo1 {
        width: 156px;
      }
  
      h3 {
        font-size: 22px;
      }
  
      .f1 {
        font-size: 14px;
      }
  
      .foot {
        font-size: 14px;
      }
  
      .s1 {
        font-size: 26px;
        margin: 0;
        padding: 10px 12px;
      }
  
      .f3 {
        display: none;
      }
    }
  
    @media only screen and (max-width:360px) {
      .s1 {
        font-size: 24px;
        margin: 0;
        padding: 8px;
      }
  
      #logo1 {
        width: 138px;
      }
    }
  
    @media only screen and (min-width:800px) {
      .c1 {
        padding: 0 7%;
      }
    }
  
    .p1 {
      font-size: 20px;
    }
  
    @media only screen and (max-width:576px) {
      .c4 {
        display: none;
      }
  
      .p1 {
        font-size: 16px;
      }
    }
  
    .he {
      font-size: 27px;
      font-weight: 700;
      text-align: center;
    }
  
    .c4 {
      font-style: italic;
      color: rgb(0, 0, 74);
      background-color: rgb(236, 236, 236);
      padding: 20px;
      padding: 5px;
    }
  
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
   
    .title {
      background-image: url("/static/image%20folder/nutritiontitl.png");
      background-repeat: repeat;
      -webkit-background-clip: text;
      color: transparent;
      margin-top: 20px;
      font-size: 13vw;
      background-size: cover;
      background-position: top;
      text-align: center;
      font-weight: bolder;
      text-transform: uppercase;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
    }
  
    .big-container {
      display: flex;
      flex-direction: row;
      background-color: #f6fcf6;
      font-family: sans-serif;
      width: 100%;
    }
  
    .left-container {
      width: 70%;
      display: flex;
      padding: 20px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
    .right-container {
      display: flex;
      flex-direction: column;
      width: 30%;
      padding: 20px;
    }
  
    .right-card {
      padding: 3%;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.6) 0px 20px 25px 0px;
      margin: 10px;
      height: 65vh;
      overflow: auto;
      /* Changed to "auto" */
      -ms-overflow-style: none;
      /* Hide scrollbar on Internet Explorer and Edge */
      scrollbar-width: none;
      /* Hide scrollbar on Firefox */
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .right-card::-webkit-scrollbar {
      display: none;
      /* Hide scrollbar on Chrome, Safari, and Opera */
    }
  
    h1 {
      margin: 10px;
    }
  
    .box {
      padding: 3%;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.6) 0px 20px 25px 0px;
      margin: 10px;
  
      height: 65vh;
      transform: translateX(200%);
      transition: transform 0.4s ease;
      overflow: auto;
      /* Changed to "auto" */
      -ms-overflow-style: none;
      /* Hide scrollbar on Internet Explorer and Edge */
      scrollbar-width: none;
      /* Hide scrollbar on Firefox */
      background-color: white;
    }
  
    .box::-webkit-scrollbar {
      display: none;
      /* Hide scrollbar on Chrome, Safari, and Opera */
    }
  
    .box:nth-of-type(even) {
      transform: translateX(-200%);
    }
  
    .box.show {
      transform: translateX(0);
    }
  
    .last {
      background-color: #f6fcf6;
      box-shadow: none;
    }
  
    .last img {
      width: 20%;
      height: 30%;
    }
  
    .box1 {
      display: grid;
      place-items: center;
  
      background-color: #f6fcf6;
      box-shadow: none;
      overflow: hidden;
      /* Added */
    }
  
    .bubbleimg {
      display: flex;
      overflow: hidden;
      /* Added */
    }
  
    .card {
      height: 200px;
      flex: 1;
      margin: 0 2px;
      box-shadow: 0 0 50px #0002;
      overflow: hidden;
      /* Added */
      border-radius: 4px;
      transition: .3s;
    }
  
    .card img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
      filter: grayscale(1);
    }
  
    .card:hover {
      flex: 3;
    }
  
    .card:hover img {
      filter: none;
    }
  
    @media (max-width: 600px) {
      .bubbleimg {
        width: 80%;
      }
    }
  
    .box5 {
  
      background-color: #f6fcf6;
      box-shadow: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .slides {
      height: 100%;
      display: grid;
      text-align: center;
      font-family: Helvetica;
      font-size: 3em;
    }
  
    input.set {
      display: none;
    }
  
    #slide1:checked~.mask .overflow {
      margin-left: 0;
    }
  
    #slide2:checked~.mask .overflow {
      margin-left: -100%;
    }
  
    #slide3:checked~.mask .overflow {
      margin-left: -200%;
    }
  
    #slide4:checked~.mask .overflow {
      margin-left: -300%;
    }
  
    #slides {
      margin: 50px auto;
      width: 80%;
      position: relative;
    }
  
    #slides .mask {
      width: 90%;
      overflow: hidden;
      margin: auto;
    }
  
    #slides .overflow {
      width: 400%;
      -webkit-transform: translateZ(0);
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
    }
  
    #slides .slide {
      width: 25%;
      height: 200px;
      line-height: 200px;
      float: left;
      background: #d6c09f;
    }
  
    .slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    #controls {
      width: 100%;
    }
  
    #controls label {
      display: none;
      width: 5%;
      height: 60px;
      opacity: 0.3;
      position: absolute;
      top: 50%;
      margin-top: -30px;
      cursor: pointer;
      background: #000;
    }
  
    #controls label:hover {
      opacity: 0.8;
    }
  
    #slide1:checked~#controls label:nth-child(2),
    #slide2:checked~#controls label:nth-child(3),
    #slide3:checked~#controls label:nth-child(4) {
      right: 0;
      display: block;
    }
  
    #slide2:checked~#controls label:nth-child(1),
    #slide3:checked~#controls label:nth-child(2),
    #slide4:checked~#controls label:nth-child(3) {
      left: 0;
      display: block;
    }
  
    .imghover {
  
      width: 200px;
  
      height: 200px;
  
      overflow: hidden;
  
      border-radius: 50%;
  
      border: 6px solid #000000;
  
      box-shadow: rgba(1, 1, 1, 0.2) 0px 7px 29px 0px;
  
    }
  
    .imghover img {
  
      width: 100%;
  
      height: 100%;
  
      filter: grayscale(1);
  
      transition: .1s;
  
    }
  
    .boxn:hover img {
  
      filter: none;
  
      scale: 1.3;
  
    }
  
    .img-div {
      width: 70%;
      height: 60%;
      justify-content: center;
      margin-bottom: 8%;
      font-size: larger;
      font-weight: bold;
      position: relative;
      display: inline-block;
    }
  
    .right-card:hover img {
      transform: scale(1.2);
    }
  
    .card-img-top {
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: transform 0.3s ease;
      border-radius: 7px;
    }
  
    @media (max-width: 800px) {
      .big-container {
        flex-direction: column;
        align-items: center;
      }
  
      .left-container {
        width: 100%;
      }
  
      .right-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        align-items: none;
        justify-content: space-around;
      }
  
      .right-card {
        width: 45%;
        margin: 10px;
      }
  
      .last img {
        width: 50%;
      }
    }
  
    @media(max-width: 600px) {
      .right-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
      }
  
      .right-card {
        width: 90%;
        margin: 10px;
      }
    }
    