<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-PJsj/BTMqILvmcej7ulplguok8ag4xFTPryRq8xevL7eBYSmpXKcbNVuy+P0RMgq" crossorigin="anonymous">

    <title>Health Service</title>

    <link rel="stylesheet" href="../static/css folder/services-style.css">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="nav navbar navbar-expand-lg" data-bs-theme="dark" style="background-color: #013827; z-index: 1;">
        <div class="container">
            <a class="navbar-brand" href="../templates/about.html">
                <img src="../static/image folder/aboutlogo2.png" alt="About Logo"> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" a href="../index.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Workout
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="../templates/arm-workout.html">Arm-workout</a>
                            </li>
                            <li><a class="dropdown-item" href="../templates/home.html">Home-workout</a></li>
                            <li><a class="dropdown-item" href="../templates/six.html">Six packs</a></li>
                            <li><a class="dropdown-item" href="../templates/lose.html">Lose weight</a></li>
                            <li><a class="dropdown-item" href="../templates/fitnesscoach.html">Fitness coach</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">View all...</a></li>
                        </ul>
                        
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Well Being
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="../templates/children.html">Children
                                    Health</a></li>
                            <li><a class="dropdown-item" href="../templates/weight.html"
                                    >Weight-management</a>
                            </li>
                            <li><a class="dropdown-item" href="../templates/mens.html" >Men's
                                    Health</a></li>
                            <li><a class="dropdown-item"
                                href="../templates/womens.html">Women's health</a>
                            </li>
                            <li><a class="dropdown-item"
                                href="../templates/pregnancy.html"   >Pregenancy</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">View all...</a></li>
                        </ul>
                            
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Explore
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="../templates/nutrition.html" >Nutrition</a></li>
                            <li><a class="dropdown-item" href="../templates/nutrition.html">Sleep</a></li>
                            <li><a class="dropdown-item" href="../templates/mental-health.html">Mental Health</a>
                            </li>
                            <li><a class="dropdown-item" href="../templates/fitness.html">Fitness</a></li>
                            <li>
                                <hr class="dropdown-divider">
                                <li><a class="dropdown-item" href="#">View all...</a></li>
                            </ul>
                        </li>
                            
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn1 btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container"><br>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                <h3 class="pol2">WELLnest for Online Care</h3>
                <p class="p1">
                    With WELLnest you can access care 7 days a week through the LA Health Portal with no appointment needed. Get started by logging on to the LA Health Portal and filling out an WELLnest form.
                </p>
            </div>
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-17">
                <img src="../static/image folder/servicesimg5.jpg" class="img-fluid img-thumbnail" alt="img">
            </div>
        </div>
        <br><hr><br>
    </div>
    
    <div class="container" style="z-index: 0;">
        <div class="row">
            <div class="col-0 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header"><b>Post</b></div>
                    <div class="card-body">
                        <h5 class="card-title"><u>Tools & Guides</u></h5>
                        <p class="card-text">Well-Being Strategies for Employee Engagement and Retention Playbook</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-8">
                <h4 class="pol3"><u>Improving Well-Being In Your Organization</u></h4>
                <p class="p1">
                    In a world where well-being is confusing and overwhelming, we partner with organizations like yours to provide a thoughtful approach to well-being. We work closely and collaboratively with each client to support their uniquely diverse populations, elevate their culture, and deliver real results that make a difference—both for their business and for their people.
                </p>
            </div>
            <div class="col-0 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header"><b>Post</b></div>
                    <div class="card-body">
                        <h5 class="card-title"><u>Employee Engagement</u></h5>
                        <p class="card-text">Wellness and Fitness Challenge Ideas to Consider for you 20203 Well-Being Program.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="container">
        <img src="../static/image folder/servicesimg6.jpg" class="img-fluid img-thumbnail" alt="img">
    </div>
    <footer>
        <div class="foot-1">
            <div class="container"><br><br>
                <div class="row">
                    <div class="column col-6 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <a href="../templates/about.html"><img src="../static/image folder/logo1.png"
                                id="logo1" alt="img"></a>
                        <div class="foot">Filter out the noise and nurture your indbox with health and wellness
                            advice
                            that's inclusive and rooted in medical expertise.</div><br>
                           
                        <div class="foot f3">Your <a href="../templates/privacy.html">
                                <u class="g1"><b>privacy</b></u></a> is important to us.</div>
                    </div>
                    <div class="column col-6 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <h3>Policies</h3>
                        <p>
                            <a class="g1"href="../templates/privacy.html">Privacy Policy</a>
                        </p>
                        <p>
                            <a class="g1" href="../templates/advertising.html">Advertising Policy</a>
                        </p>
                        <p>
                            <a class="g1"href="../templates/terms.html">Terms of use</a>
                        </p>
                    </div>
                    <div class="column col-6 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <h3>About</h3>
                        <p>
                            <a class="g1" href="../templates/contactUs.html">Contact Us</a>
                        </p>
                        <p>
                            <a class="g1" href="../templates/about.html" >About <b>WELL</b>nest</a>
                        </p>
                        <p>
                            <a class="g1" href="../templates/services.html" >Health Services</a>
                        </p>
                        <p>
                            <a class="g1" href="../templates/accessibility.html" >Accessibility</a>
                        </p>
                    </div>
                    <div class="column col-6 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <h3>Contact</h3>
                        <p>
                            <i class="fas fa-home mr-2"></i> <span class="foot">SVNIT,Surat,Dumas
                                road,395007</span>
                        </p>
                        <p>
                            <i class="fas fa-envelope mr-2"></i> <span class="foot"><a href="mailto:wellnest111@gmail.com">wellnest111@gmail.com</a>
                        </p>
                        <p>
                            <i class="fas fa-phone mr-2"></i> <span class="foot">+91 9554828612</span>
                        </p>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="foot-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12"><br>
                        <div class="f1 text-center text-white">&copy 2023 Wellnest Media LLC. All rights
                            reserved. Our
                            website
                            services,content,and products are for informational purpose only. Wellnest Media
                            does not
                            provide medical advices, diagnosis, or treatment.</div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 f2 text-center">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item s1">
                                <a href="#" class="btn-floating btn-sm text-white"><i class="fab fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item s1">
                                <a href="#" class="btn-floating btn-sm text-white"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li class="list-inline-item s1">
                                <a href="#" class="btn-floating btn-sm text-white"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item s1">
                                <a href="#" class="btn-floating btn-sm text-white"><i
                                        class="fab fa-google-plus"></i></a>
                            </li>
                            <li class="list-inline-item s1">
                                <a href="#" class="btn-floating btn-sm text-white"><i
                                        class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>